body
{
    width: 64em;
    font-family: Lucida, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6
{
    color: #369;
}
h5, h6
{
    font-size: 100%;
    margin: 0;
}

pre
{
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0 1.5em 1.5em 1.5em;
    white-space: pre-wrap;
}

a:link
{
    text-decoration: none;
    font-weight: bold;
    color: #ff8c00;
}

a:hover, a:active
{
    font-weight: bold;
    color: #ff4500;
}

a:visited
{
    text-decoration: none;
    font-weight: bold;
    color: #c96;
}

img
{
    border: 0;
}

code
{
    color: #369;
}

table
{
    margin: 0;
    padding: 0;
}

tr
{
    margin: 0;
    padding: 1px;
}

th
{
    margin: 0;
    border: 0;
    padding: 0.4em;
    text-align: left;
    background: #369;
    color: #fff;
}

td
{
    padding: 0.4em;
    background-color: #ddd;
}

.hl-string
{
    color: green;
    font-weight: bold;
}

.hl-keyword
{
    color: #009;
    font-weight: bold;
}

.hl-comment
{
    color: gray;
    font-style: italic;
}
