body {
    width: 64em;
    font-family: Lucida, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #369;
}

h5, h6 {
    font-size: 100%;
    margin: 0;
}

pre {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 1em;
    white-space: pre-wrap;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: #f80;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #c96;
}

img {
    border: 0;
}

code {
    color: #369;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    margin: 0;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #eee;
}

th {
    margin: 0;
    border-left: 1px solid #fff;
    padding: 0.4em;
    text-align: left;
    background: #369;
    color: #fff;
}

th:first-child {
    border-left: 0;
}

td {
    border: 1px solid #369;
    padding: 0.4em;
}

.hl-string {
    color: green;
    font-weight: bold;
}

.hl-keyword {
    color: #009;
    font-weight: bold;
}

.hl-comment {
    color: gray;
    font-style: italic;
}

.hl-annotation {
    color: #880;
}

.caution, .important, .note, .tip, .warning {
    border: 2px solid #369;
    padding: 0 20px;
}

.caution {
    border-color: #c60;
}

.caution h3 {
    color: #c60;
}

.warning {
    border-color: #900;
}

.warning h3 {
    color: #900;
}

.important {
    border-color: #069;
}

.important h3 {
    color: #069;
}

.note {
    border-color: #909;
}

.note h3 {
    color: #909;
}

.tip {
    border-color: #090;
}

.tip h3 {
    color: #090;
}

.strike {
    text-decoration: line-through;
}

.toc, .list-of-tables, .copyright, .legalnotice {
    font-size: smaller;
}

.releaseinfo {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.callout {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0.25em;
    text-align: center;
}

.callout a {
    font-weight: normal;
    color: #369;
}

.callout .website {
    font-weight: bold;
    color: #48c;
}

td.gsc-input {
    border: 0;
}
td.gsc-search-button {
    border: 0;
}

.navheader th, .navheader td, .navfooter th, .navfooter td {
    background: #eee;
    color: #369;
    border: 1px solid #ddd;
    text-align: center;
}
